<section class="thank-box">
  <!-- <img src="../../assets/images/tick.gif" alt=""> -->
  <div class="tick-icon">
     <span><i class="fa fa-check"></i></span> 
    <svg class = "button" expanded = "true" height = "150px" width = "150px">
      <!-- <circle cx = "50%" cy = "50%" r = "7px"></circle> -->
      
      <circle class = "pulse" cx = "50%" cy = "50%" r = "30px"></circle>
    </svg>
  </div>
  <h3>Thank You!</h3>
  <p>We have received your order. Youy well receive a phone call from us soon. Your order ID is: ABC1234</p>
  <button routerLink="/home" class="done-btn">DONE</button>
</section>