<ion-header>
  <!-- <ion-toolbar> -->
    <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="/assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center">
        Edit Profile
    </ion-title>
    <div class="notification">
      <a routerLink="/notifications">
        <!-- <img src="/assets/images/notification-icon.png" alt=""> -->
        <i class="fa fa-bell-o"></i>
      <span>2</span>
      </a>
    </div>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>


  <ion-content>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
    
    
              <div padding class="profile-box">
                <div class="edit-img">
                  <img src="../../assets/images/user.png" alt="">
                  <h4>Pravin K. Pandey</h4>
                </div>


                <ion-item class="form-group frm">
                  <span><i class="fa fa-user"></i></span>
                  <ion-input type="text" class="info-frm" id="Name" placeholder="Your Name"></ion-input>
                </ion-item>

                <ion-item class="form-group frm">
                    <span><i class="fa fa-envelope"></i></span>
                    <ion-input type="text" class="info-frm" id="email" placeholder="Email ID"></ion-input>
                  </ion-item>

                  <ion-item class="form-group frm">
                      <span><i class="fa fa-phone "></i></span>
                      <ion-input type="text" class="info-frm" id="phone" placeholder="Phone Number" ></ion-input>
                  </ion-item>
        
                <ion-item class="form-group frm">
                  <span><i class="fa fa-home"></i></span>
                  <ion-input type="text" class="info-frm" id="address" placeholder="Address Line1" ></ion-input>
                </ion-item>
                
                <ion-item class="form-group frm">
                    <span><i class="fa fa-home"></i></span>
                    <ion-input type="text" class="info-frm" id="address" placeholder="Address Line2" ></ion-input>
                  </ion-item>
                
                  <div class="frm-part">
                      <ion-item class="form-group frm">
                          <span><i class="fa fa-map-marker"></i></span>
                          <ion-input type="text" class="info-frm" id="city" placeholder="City" ></ion-input>
                        </ion-item>
                        
                        <ion-item class="form-group frm">
                            <span><i class="fa fa-venus"></i></span>
                            <ion-input type="text" class="info-frm" id="Pin" placeholder="Pin" ></ion-input>
                          </ion-item>
                  </div>

                  <ion-item class="form-group frm">
                      <span><i class="fa fa-venus"></i></span>
                      <ion-input type="text" class="info-frm" id="state" placeholder="State" ></ion-input>
                    </ion-item>

                  

                    <!-- <div class="frm-part">
                      <ion-item>
                          <ion-checkbox></ion-checkbox>
                          <ion-label>Cash</ion-label>
                      </ion-item>

                      <ion-item>
                          <ion-checkbox></ion-checkbox>
                          <ion-label>Credit</ion-label>
                      </ion-item>
                      
                  </div> -->
              </div>
        
              <div padding>
                <button size="large" expand="block" class="btn sing-btn">EDIT</button>
                <!-- <p class="forgot">
                  <span><a href="#">Forgot Password ?</a></span> 
                  <span class="regi"><a href="/register">Register Now</a></span> 
                </p> -->
              </div>
    
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>