<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">

      <ion-content>
        <div class="user-details">
          <img routerLink="/editprofile" src="../../assets/images/user.png" alt="" />
          <h4 routerLink="/editprofile">Pravin K. Pandey</h4>
          <p>Kolkata</p>

          <ul class="manu-link">
            <!--<li>
              <a href="/signin">Sign In</a>
            </li>-->
            <!-- <li><a href="/dashboard">Dashboard</a></li> -->
            <li>Shop</li>
            <!-- <li><a href="/enquiry">Enquiries</a></li>
            <li><a href="/settings">Settings</a></li> -->
            <li>My Profile</li>
            <li>About Just Imajine</li>
            <li>Contact Us</li>
            <li></li>
            <li></li>
            <li>Sign Out</li>
          </ul>
        </div>
      </ion-content>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<!--Old default created code-->
<!--<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>-->
  
