<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu-bar"></ion-menu-button>
    </ion-buttons>
    <ion-title class="manu-header">
      Enquiries
    </ion-title>
    <span class="info-btn"><i class="fa fa-ellipsis-v"></i></span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row product-box">

      <div class="col-9 product-description">
        <h4>Design Id: ABC1234</h4>
        <p>Date: 25 Dec 2018, 12:09 PM</p>
        <p>Status: Complete</p>
      </div>

      <div class="col-3 detail-btn">
        <a href="/product">Details</a>
      </div>

    </div>

    <div class="row product-box">

      <div class="col-9 product-description">
        <h4>Design Id: ABC1233</h4>
        <p>Date: 20 Nov 2018, 10:04 AM</p>
        <p>Status: Cancelled</p>
      </div>

      <div class="col-3 detail-btn">
        <a href="/product">Details</a>
      </div>

    </div>


    <div class="row product-box">

      <div class="col-9 product-description">
        <h4>Design Id: ABC1233</h4>
        <p>Date: 20 Nov 2018, 10:04 AM</p>
        <p>Status: Cancelled</p>
      </div>

      <div class="col-3 detail-btn">
        <a href="/product">Details</a>
      </div>

    </div>


    <!-- <span class="add-btn"><a href="#">+</a></span> -->
  </div>
</ion-content>