<ion-header>
  <!-- <ion-toolbar> -->
    <div class="head">
      <div  routerLink="/home" class="back-bg">
          <i class="fa fa-long-arrow-left"></i>
          <!-- <img src="/assets/images/back.png" alt=""> -->
        </div>
    <ion-title class="text-center">
      Notifications
    </ion-title>
    <div class="notification">
      <a routerLink="/cart">
        <!-- <img src="/assets/images/notification-icon.png" alt=""> -->
        <!-- <i class="fa fa-cart-arrow-down"></i>
      <span>2</span> -->
      </a>
    </div>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>
<ion-content>
  <ion-grid class="no-pad">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="no-pad">
           
              <div class="back-body">
                <div class="offer-sec">
                  <h4>New Offer</h4>
                  <p>10% off Great Saving Every Day</p>
                </div>

                <div class="offer-sec">
                  <h4>10% Offer...!</h4>
                  <p>Get 20% offer on Household Needs. Hurry Limited period offer...</p>
                  <img src="/assets/images/banner.png" alt="">
                </div>
              </div>
         </ion-col>
       </ion-row>
   </ion-grid>
</ion-content>
