<ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="manu-bar"></ion-menu-button>
      </ion-buttons>
      <ion-title class="manu-header">
        Admin Dashboard
      </ion-title>
      <span class="info-btn"><i class="fa fa-ellipsis-v"></i></span>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="container product-list">
    <div class="row">
      <div class="col-6 product">
        <img src="../../assets/images/aaa.jpg" alt="" />
        <a href="#" class="product-name">Orders</a>
      </div>
      <div class="col-6 product">
        <img src="../../assets/images/aaa.jpg" alt="" />
        <a href="/products" class="product-name">Products</a>
      </div>
    </div>

    <div class="row">
      <div class="col-6 product">
        <img src="../../assets/images/aaa.jpg" alt="" />
        <a href="/brands" class="product-name">Brands</a>
      </div>
      <div class="col-6 product">
        <img src="../../assets/images/aaa.jpg" alt="" />
        <a href="/categories" class="product-name">Categories</a>
      </div>
    </div>

    <div class="row">
      <div class="col-6 product">
        <img src="../../assets/images/aaa.jpg" alt="" />
        <a href="#" class="product-name">Staffs</a>
      </div>
      <div class="col-6 product">
        <img src="../../assets/images/aaa.jpg" alt="" />
        <a href="#" class="product-name">Customers</a>
      </div>
    </div>
  </div>
</ion-content>