<ion-header>
  <!-- <ion-toolbar> -->
    <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="/assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center">
        Categories
    </ion-title>
    <div class="notification">
      <a routerLink="/notifications">
        <!-- <img src="/assets/images/notification-icon.png" alt=""> -->
        <i class="fa fa-bell-o"></i>
      <span>2</span>
      </a>
    </div>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid class="no-pad">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="no-pad">
        <div class="banner">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/assets/images/slider1.jpg" alt="slider1" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/images/slider2.jpg" alt="slider2" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/images/slider3.jpg" alt="slider3" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                      <img src="/assets/images/slider4.jpg" alt="slider4" width="1100" height="500">
                    </div>
                </div>
                
                <!-- Left and right controls -->
                <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a> -->
              </div>
              
        </div>

        <div class="bdy-part">
          <h5>New Arrival</h5>
          <div class="product-sec">
            <div routerLink="/productdetails" class="box">
              <img src="../../assets/images/pro.png" alt="">
              <p>Colour</p>
            </div>

            <div routerLink="/productdetails" class="box">
              <img src="../../assets/images/pro1.png" alt="">
              <p>Books</p>
            </div>

            <div routerLink="/productdetails" class="box">
              <img src="../../assets/images/pro2.png" alt="">
              <p>Dairy</p>
            </div>

            <div routerLink="/productdetails" class="box">
              <img src="../../assets/images/pro3.png" alt="">
              <p>Video</p>
            </div>

            <div routerLink="/productdetails" class="box">
              <img src="../../assets/images/pro4.png" alt="">
              <p>Pen Set</p>
            </div>
          </div>

          <h5 class="mar-top">Catagories One <span routerLink="/products">More</span></h5>
          <div class="product-sec">
            
            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>

            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro1.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>

            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro2.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>

            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro4.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>
          </div>

          <h5 class="mar-top">Catagories Two <span routerLink="/products">More</span></h5>
          <div class="product-sec">
            
            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro3.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>

            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro2.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>

            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>

            <div class="box2">
              <div class="ribbon">30% OFF</div>
              <div routerLink="/productdetails" class="box2-img"><img src="../../assets/images/pro1.png" alt=""></div>
              <h6 routerLink="/productdetails">Product Name</h6>
              <p class="product-price"><strong>Price: 250/-</strong> 
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span>
              </p>
              <div class="btn-buy">
              <button routerLink="/cart" class="btn btn-text">Buy Now</button>
            </div>
            </div>
          </div>
       
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-row justify-content-center>
    <div class="footer-sec">
    <div class="footer active">
      <a routerLink="/home">
        <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M506.555,208.064L263.859,30.367c-4.68-3.426-11.038-3.426-15.716,0L5.445,208.064
              c-5.928,4.341-7.216,12.665-2.875,18.593s12.666,7.214,18.593,2.875L256,57.588l234.837,171.943c2.368,1.735,5.12,2.57,7.848,2.57
              c4.096,0,8.138-1.885,10.744-5.445C513.771,220.729,512.483,212.405,506.555,208.064z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M442.246,232.543c-7.346,0-13.303,5.956-13.303,13.303v211.749H322.521V342.009c0-36.68-29.842-66.52-66.52-66.52
              s-66.52,29.842-66.52,66.52v115.587H83.058V245.847c0-7.347-5.957-13.303-13.303-13.303s-13.303,5.956-13.303,13.303v225.053
              c0,7.347,5.957,13.303,13.303,13.303h133.029c6.996,0,12.721-5.405,13.251-12.267c0.032-0.311,0.052-0.651,0.052-1.036v-128.89
              c0-22.009,17.905-39.914,39.914-39.914s39.914,17.906,39.914,39.914v128.89c0,0.383,0.02,0.717,0.052,1.024
              c0.524,6.867,6.251,12.279,13.251,12.279h133.029c7.347,0,13.303-5.956,13.303-13.303V245.847
              C455.549,238.499,449.593,232.543,442.246,232.543z"/>
          </g>
        </g>

        </svg>
        <br>HOME</a>
    </div>
    <div class="footer">
      <a>
        <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
        <g>
          <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
            s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
            C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
            s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"/>
        </g>
        </svg>
        <br>SEARCH</a>
    </div>
   
    <div class="footer">
      <a routerLink="/editprofile">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 482.9 482.9" style="enable-background:new 0 0 482.9 482.9;" xml:space="preserve">
<g>
<g>
<path d="M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5
c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6
c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z
M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4
c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0
c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z"/>
<path d="M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3
c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7
c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41
c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56
c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8
c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3
c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3
C447,415.5,446.9,388.8,446.8,383.6z"/>
</g>
</g>

</svg>

        <br>PROFILE</a>
    </div>

    <div class="footer">
      <a routerLink="/signin">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
     <g>
       <g>
         <path d="M505.664,243.739l-54.783-38.622c-9.926-6.997-23.645,0.128-23.645,12.26v23.622H164.196
           c-8.284,0-15.001,6.716-15.001,15.001S155.912,271,164.196,271h263.038v23.621c0,12.212,13.792,19.204,23.644,12.26l54.783-38.622
           C514.027,262.365,514.196,249.767,505.664,243.739z"/>
       </g>
     </g>
     <g>
       <g>
         <path d="M430.471,352.317c-7.169-4.146-16.347-1.698-20.496,5.474c-35.236,60.916-101.103,101.811-176.372,101.811
           c-112.266,0-203.602-91.336-203.602-203.602S121.337,52.398,233.603,52.398c75.319,0,141.156,40.933,176.371,101.809
           c4.148,7.172,13.328,9.619,20.496,5.474c7.171-4.148,9.621-13.325,5.474-20.496C395.418,69.127,319.729,22.397,233.603,22.397
           C104.49,22.397,0,126.876,0,256c0,129.113,104.479,233.603,233.603,233.603c86.163,0,161.833-46.763,202.342-116.79
           C440.092,365.642,437.642,356.466,430.471,352.317z"/>
       </g>
     </g>
     
     </svg>
        <br>LOGOUT</a>
    </div>
  </div>
  </ion-row>
</ion-content>




