<ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="manu-bar"></ion-menu-button>
      </ion-buttons>
      <ion-title class="manu-header">
        Settings
      </ion-title>
      <span class="info-btn"><i class="fa fa-ellipsis-v"></i></span>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div class="container pad">
        <div class="row product-box">
    
          <div class="col-9 product-description">
            <h4>Notifications</h4>
            <p>Enabled</p>
          </div>
    
          <div class="col-3 detail-btn">
              <label class="switch" for="checkbox">
                  <input type="checkbox" id="checkbox" />
                  <div class="slider round"></div>
                </label>
          </div>
    
        </div>

        

        <div class="row product-box">
    
            <div class="col-9 product-description">
              <h4>Some Setting</h4>
              <p>Disabled</p>
            </div>
      
            <div class="col-3 detail-btn">
                <label class="switch" for="checkbox2">
                    <input type="checkbox" id="checkbox2" />
                    <div class="slider round"></div>
                  </label>
            </div>
      
          </div>

          <div class="row product-box">
    
              <div class="col-9 product-description">
                <h4>About this app</h4>
                <p>Version 1.1.0</p>
              </div>
        
              <div class="col-3 detail-btn">
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </div>
        
            </div>
    
      </div>
    </ion-content>